@media screen and (min-width: 769px) {
}

@media screen and (max-width: 768px) {
  header {
    .envio {
      display: flex;
      flex-direction: row;
      border-top: solid 1px grey;
      border-bottom: solid 1px grey;
      text-decoration: none;
      color: black;
      margin: 0px 0px -20px 0px;
      span {
        margin: 10px 0px 10px 10px;
      }
    }
    .navbar {
      ul {
        list-style: none;
      }
      .container {
        display: flex;
        justify-content: space-between;

        a {
          width: 70px;
          height: 70px;
          margin: 0px 20px 0px 0px;
        }
        .nav_logo {
          background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.1/mercadolibre/logo__small.png);
          background-repeat: no-repeat;
          margin: 40% 0% 0% 20%;
          height: 70px;
          width: 80px;
        }
        .propaganda_btn-menu_carro-compras {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4% 0% 0% 0%;
          margin: 0% 0% 0% 0%;
          @media (min-width: 768px) and (max-width: 768px) {
            padding: 2.5% 0% 0% 0%;
          }

          .propaganda {
            display: none;
          }

          .btn-menu {
            width: 25px;
            &:hover {
              font-size: 105%;
            }
            button {
              border: none;
              background-color: transparent;
              i {
                cursor: pointer;
              }
            }
          }

          .carro-compra {
            &:hover {
              font-size: 105%;
            }
          }
        }
        /** Buscador **/
        /** Movil S **/
        @media screen and (min-width: 320px) {
          form {
            input {
              display: flex;
              flex-direction: row;
              justify-content: center;
              border: transparent;
              margin: 25px 0px 0px -31px;
              height: 39px;
              width: 100%;
            }
            .btn {
              margin: -39px 0px 0px 120px;
              background-color: white;
              border: transparent;
              box-shadow: none;
              height: 39px;
              width: 35px;
              display: flex;
              cursor: pointer;
              border-left: solid 1px grey;
              i {
                justify-items: center;
                margin: 10px 0px 0px 2px;
              }
            }
          }
        }
        /** Movil M **/
        @media screen and (min-width: 375px) {
          form {
            input {
              display: flex;
              flex-direction: row;
              justify-content: center;
              border: transparent;
              margin: 25px 0px 0px -31px;
              height: 39px;
              width: 100%;
            }
            .btn {
              margin: -39px 0px 0px 180px;
              background-color: white;
              border: transparent;
              box-shadow: none;
              height: 39px;
              width: 35px;
              display: flex;
              cursor: pointer;
              border-left: solid 1px grey;
              i {
                justify-items: center;
                margin: 10px 0px 0px 2px;
              }
            }
          }
        }
        /** Movil L **/
        @media screen and (min-width: 425px) {
          form {
            margin: 0px 0px 0px -40px;
            input {
              display: flex;
              flex-direction: row;
              justify-content: center;
              border: transparent;
              margin: 25px 0px 0px 0px;
              height: 39px;
              width: 100%;
            }
            .btn {
              margin: -39px 0px 0px 250px;
              background-color: white;
              border: transparent;
              box-shadow: none;
              height: 39px;
              width: 35px;
              display: flex;
              cursor: pointer;
              border-left: solid 1px grey;
              i {
                justify-items: center;
                margin: 10px 0px 0px 2px;
              }
            }
          }
        }
        /** Tablet **/
        @media screen and (min-width: 768px) {
          .nav_logo {
            background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.19.1/mercadolibre/logo__large_plus.png);
            width: 150px;
          }
          form {
            margin: 0px 0px 0px 0px;
            width: 25%;
            input {
              display: flex;
              flex-direction: row;
              justify-content: center;
              border: transparent;
              margin: 25px 0px 0px -140px;
              height: 39px;
              width: 255%;
            }
            .btn {
              margin: -39px 0px 0px 350px;
              background-color: white;
              border: transparent;
              box-shadow: none;
              height: 39px;
              width: 35px;
              display: flex;
              cursor: pointer;
              border-left: solid 1px grey;
              i {
                justify-items: center;
                margin: 10px 0px 0px 2px;
              }
            }
          }
        }
      }
    }
    .menu {
      .lista-main {
        display: none;
      }
    }
    #menu-desplegable {
      display: none;
      position: absolute;
      margin: -35px 0px 0px -40px;
      ul {
        list-style-type: none;
        li {
          background-color: white;
          a {
            text-decoration: none;
          }
          .bienvenida-desplegable {
            display: flex;
            flex-direction: row;
            background-color: #fff159;
            padding: 1rem;
            i {
              margin: 30px 20px 0px 0px;
            }
            p {
              color: gray span {

              }
            }
          }
        }
      }
      .login-desplegable {
        background-color: #fff159;
        .login {
          padding: 1rem;
          width: 100px;
          height: 50px;
          margin: 0px 20px 20px 35px;
        }
        .register {
          padding: 1rem;
          width: 130px;
          height: 50px;
        }
      }
      .lista-desplegable {
        ul {
          display: flex;
          flex-direction: column;
          a {
            text-decoration: none;
            color: black;
            li {
              padding: 1rem;
              margin: 0px 0px 0px -50px;
            }
          }

          li:hover {
            background-color: grey;
          }
        }
      }
    }
    @media screen and (min-width: 768px) {
      #menu-desplegable {
        display: none;
        position: absolute;
        margin: -35px 0px 0px -40px;
        width: 120%;
        ul {
          list-style-type: none;
          li {
            background-color: white;
            a {
              text-decoration: none;
            }
            .bienvenida-desplegable {
              display: flex;
              flex-direction: row;
              background-color: #fff159;
              padding: 1rem;
              i {
                margin: 30px 20px 0px 0px;
              }
              p {
                color: gray span {

                }
              }
            }
          }
        }
        .login-desplegable {
          background-color: #fff159;
          .login {
            padding: 1rem;
            width: 100px;
            height: 50px;
            margin: 0px 20px 20px 35px;
          }
          .register {
            padding: 1rem;
            width: 130px;
            height: 50px;
          }
        }
        .lista-desplegable {
          ul {
            display: flex;
            flex-direction: column;
            a {
              text-decoration: none;
              color: black;
              li {
                padding: 1rem;
                margin: 0px 0px 0px -50px;
              }
            }

            li:hover {
              background-color: grey;
            }
          }
        }
      }
    }
  }
}
