menu {
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "logo  user fav carro buscador buscador"
    "menu menu menu menu menu menu";
  background-color: white;
  color: black;
  padding: 0;
  margin: 0;
  width: auto;
}

.logo {
  grid-area: logo;
  img {
    width: 100%;
    height: 120%;
  }
}
.buscador {
  grid-area: buscador;
}
.user {
  grid-area: user;
  button {
    margin: 30%;
    padding: 2%;
  }
}
.fav {
  grid-area: fav;
  a {
    text-decoration: none;
  }
}
.carro {
  grid-area: carro;
  a {
    text-decoration: none;
  }
}
.menu {
  grid-area: menu;
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }
}

/** notificacion **/

.notificacion {
  display: flex;
  justify-content: space-between;
  background-color: green;
}
